*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(245, 81, 40, 0.5);
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
}

h1{
    color: white;
    text-align: center;
    font-size: 10rem;
    height: 25vh;
}

table{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

td{
    color: white;
    width: 100%;
    font-size: 5rem;
    height: 25vh;
}

footer{
    background-color: #DBE812;
    width: 100%;
    height: 25vh;
    margin: auto;
    position: fixed;
    bottom: 0;
}

main{
    background-color: #2E933C;
    height: 25vh;
    width: 100%;
}